
  <%= form_for @raffle do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="form-group">
      <%= f.label :num_winners, 'Number of Winners' %>
      <%= f.text_field :num_winners, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :contestant_names, 'Contestant Names' %>
      <%= f.text_area :contestant_names, cols: 70, rows: 15, class: 'form-control', id: 'participants', data: {id: @raffle.id } %>
      <p class="note">Names should be separated with line breaks.</p>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
